.main {
  display: flex;
  flex-direction: row;
  /* margin-top: 90px; */
  height: 100%;
}

.outlet {
  padding: 100px 25px 25px;
  width: 100%;
  margin-left: 240px;
}

@media (max-width: 810px) {
  .outlet {
    margin-left: 0;
  }
}
