/* .content {

} */

.content h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.content p {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

.content div {
    margin: 15px 0 0 0 ;
}