.selectsSection {
  margin-top: 1.5625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.selectMonths {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.selectHeader {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  text-align: left;
  margin-bottom: 16px;
}

.duration {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5125rem;
  letter-spacing: -0.02em;
  text-align: center;
}

.selectContainer {
  display: flex;
  flex-direction: column;
}

.prices {
  width: 100%;
  margin-top: 32px;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.priceContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.priceContent label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: left;
}

.priceContent p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5125rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: #2563eb;
}

.expenditureSummary {
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.expenditureSummary label {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5125rem;
  letter-spacing: -0.02em;
  text-align: left;
}

.expenditureSummary .buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup button {
  background-color: #ffffff;
  width: 22.5rem;
  height: 94px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #4f4f4f;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24.2px;
  letter-spacing: -0.02em;
}

.buttonGroup button:hover {
  border-color: #2563eb;
  color: #2563eb;
}

.revenue {
  margin-top: 50px;
  width: 100%;
  padding: 21px;
  height: 341px;
  border-radius: 12.15px;
  border: 1px solid #6d6d6d;
  box-shadow: 2px 2px 4px 0px #33333340;
}

.revenue label {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5125rem;
  letter-spacing: -0.02em;
  text-align: left;
}

.print {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.print button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 44px;
  top: 883px;
  left: 884px;
  padding: 10px;
  gap: 10px;
  opacity: 0px;
  background-color: #2563eb;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.print button:hover {
  background-color: #ffffff;
  color: #2563eb;
  border: 1px solid #2563eb;
}

@media (max-width: 787px) {
  .selectsSection {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }

  .selectMonths {
    justify-content: space-between;
    width: 90vw;
  }

  .expenditureSummary {
    width: 100%;
  }

  .buttonGroup button {
    width: 15rem;
  }
}

@media (max-width: 480px) {
  .duration {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .priceContainer {
    width: 80%;
  }

  .buttonGroup button {
    width: 9.5rem;
    height: 70px;
  }

  .print button {
    width: 100%;
  }
}
